<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron vertical-center">
        <center><h1 class="display-4">Access Log data analysis</h1>
        <p class="lead">Enter file name to get analysis of the access log files.</p>
        <hr class="my-4">
        <p>
            <form action="display/">
            <div class="row">       
                <div class="form-group col-md-2">
                    <input type="file" class="form-control-file" name="input-file" id="exampleFormControlFile1">
                </div>
            
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </div>
        </p>
    </center>
    </div>
    
</body>
</html>